@charset "utf-8";

html,body{
    height: 100%;
}
html{
    -webkit-text-size-adjust:100%;
}
body{
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #222;
    min-width: 1280px;
}
/* !Responsive -------------------------------------------------------------- */
.sp{
    display: none!important;
}

.spInline{
    display: none!important;
}

@media only screen and (max-width: 640px) {
    .pc{
        display: none!important;
    }

    .sp{
        display: block!important;
    }

    .spInline{
        display: inline!important;
    }
}

/* !Base Fonts -------------------------------------------------------------- */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

a {
    color: inherit;
    text-decoration: none;
}

a:active,
a:focus,
a:hover{
    text-decoration: none;
}

.fwN{
    font-weight: normal;
}

.fwB{
    font-weight: bold;
    color: #575855;
}

/* !Inline Align ------------------------------------------------------------ */
.taL{ text-align: left   !important;}
.taC{ text-align: center !important;}
.taR{ text-align: right  !important;}
.vaT{ vertical-align: top    !important;}
.vaM{ vertical-align: middle !important;}
.vaB{ vertical-align: bottom !important;}

/* !Floats ------------------------------------------------------------------ */
.flL{ float: left;}
.flR{ float: right;}
.clear{ clear: both;}
.ovh{ overflow: hidden;}

/* !Margin ------------------------------------------------------------------ */
.mt00 { margin-top: 0   !important;}
.mt05 { margin-top: 5px !important;}
.mt10 { margin-top:10px !important;}
.mt12 { margin-top:12px !important;}
.mt15 { margin-top:15px !important;}
.mt20 { margin-top:20px !important;}
.mt25 { margin-top:25px !important;}
.mt30 { margin-top:30px !important;}
.mt35 { margin-top:35px !important;}
.mt40 { margin-top:40px !important;}
.mt45 { margin-top:45px !important;}
.mt50 { margin-top:50px !important;}
.mr00 { margin-right: 0   !important;}
.mr05 { margin-right: 5px !important;}
.mr10 { margin-right:10px !important;}
.mr12 { margin-right:12px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px !important;}
.mr25 { margin-right:25px !important;}
.mr30 { margin-right:30px !important;}
.mr35 { margin-right:35px !important;}
.mr40 { margin-right:40px !important;}
.mr45 { margin-right:45px !important;}
.mr50 { margin-right:50px !important;}
.mb00 { margin-bottom: 0   !important;}
.mb05 { margin-bottom: 5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb12 { margin-bottom:12px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20 { margin-bottom:20px !important;}
.mb25 { margin-bottom:25px !important;}
.mb30 { margin-bottom:30px !important;}
.mb35 { margin-bottom:35px !important;}
.mb40 { margin-bottom:40px !important;}
.mb45 { margin-bottom:45px !important;}
.mb50 { margin-bottom:50px !important;}
.ml00 { margin-left: 0   !important;}
.ml02 { margin-left: 2px !important;}
.ml05 { margin-left: 5px !important;}
.ml10 { margin-left:10px !important;}
.ml12 { margin-left:12px !important;}
.ml15 { margin-left:15px !important;}
.ml20 { margin-left:20px !important;}
.ml25 { margin-left:25px !important;}
.ml30 { margin-left:30px !important;}
.ml35 { margin-left:35px !important;}
.ml40 { margin-left:40px !important;}
.ml45 { margin-left:45px !important;}
.ml50 { margin-left:50px !important;}

/* !Padding  ---------------------------------------------------------------- */
.pt00 { padding-top: 0   !important;}
.pt05 { padding-top: 5px !important;}
.pt10 { padding-top:10px !important;}
.pt12 { padding-top:12px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt25 { padding-top:25px !important;}
.pt30 { padding-top:30px !important;}
.pt35 { padding-top:35px !important;}
.pt40 { padding-top:40px !important;}
.pt45 { padding-top:45px !important;}
.pt50 { padding-top:50px !important;}
.pr00 { padding-right: 0   !important;}
.pr05 { padding-right: 5px !important;}
.pr10 { padding-right:10px !important;}
.pr12 { padding-right:12px !important;}
.pr15 { padding-right:15px !important;}
.pr20 { padding-right:20px !important;}
.pr25 { padding-right:25px !important;}
.pr30 { padding-right:30px !important;}
.pr35 { padding-right:35px !important;}
.pr40 { padding-right:40px !important;}
.pr45 { padding-right:45px !important;}
.pr50 { padding-right:50px !important;}
.pb00 { padding-bottom: 0   !important;}
.pb05 { padding-bottom: 5px !important;}
.pb10 { padding-bottom:10px !important;}
.pb12 { padding-bottom:12px !important;}
.pb15 { padding-bottom:15px !important;}
.pb20 { padding-bottom:20px !important;}
.pb25 { padding-bottom:25px !important;}
.pb30 { padding-bottom:30px !important;}
.pb35 { padding-bottom:35px !important;}
.pb40 { padding-bottom:40px !important;}
.pb45 { padding-bottom:45px !important;}
.pb50 { padding-bottom:50px !important;}
.pl00 { padding-left: 0   !important;}
.pl05 { padding-left: 5px !important;}
.pl10 { padding-left:10px !important;}
.pl12 { padding-left:12px !important;}
.pl15 { padding-left:15px !important;}
.pl20 { padding-left:20px !important;}
.pl25 { padding-left:25px !important;}
.pl30 { padding-left:30px !important;}
.pl35 { padding-left:35px !important;}
.pl40 { padding-left:40px !important;}
.pl45 { padding-left:45px !important;}
.pl50 { padding-left:50px !important;}

/* !Width  ---------------------------------------------------------------- */
.w001per {width: 1% !important;}
.w002per {width: 2% !important;}
.w003per {width: 3% !important;}
.w004per {width: 4% !important;}
.w005per {width: 5% !important;}
.w006per {width: 6% !important;}
.w007per {width: 7% !important;}
.w008per {width: 8% !important;}
.w009per {width: 9% !important;}
.w010per {width: 10% !important;}
.w011per {width: 11% !important;}
.w012per {width: 12% !important;}
.w013per {width: 13% !important;}
.w014per {width: 14% !important;}
.w015per {width: 15% !important;}
.w016per {width: 16% !important;}
.w017per {width: 17% !important;}
.w018per {width: 18% !important;}
.w019per {width: 19% !important;}
.w020per {width: 20% !important;}
.w021per {width: 21% !important;}
.w022per {width: 22% !important;}
.w023per {width: 23% !important;}
.w024per {width: 24% !important;}
.w025per {width: 25% !important;}
.w026per {width: 26% !important;}
.w027per {width: 27% !important;}
.w028per {width: 28% !important;}
.w029per {width: 29% !important;}
.w030per {width: 30% !important;}
.w031per {width: 31% !important;}
.w032per {width: 32% !important;}
.w033per {width: 33% !important;}
.w034per {width: 34% !important;}
.w035per {width: 35% !important;}
.w036per {width: 36% !important;}
.w037per {width: 37% !important;}
.w038per {width: 38% !important;}
.w039per {width: 39% !important;}
.w040per {width: 40% !important;}
.w041per {width: 41% !important;}
.w042per {width: 42% !important;}
.w043per {width: 43% !important;}
.w044per {width: 44% !important;}
.w045per {width: 45% !important;}
.w046per {width: 46% !important;}
.w047per {width: 47% !important;}
.w048per {width: 48% !important;}
.w049per {width: 49% !important;}
.w050per {width: 50% !important;}
.w051per {width: 51% !important;}
.w052per {width: 52% !important;}
.w053per {width: 53% !important;}
.w054per {width: 54% !important;}
.w055per {width: 55% !important;}
.w056per {width: 56% !important;}
.w057per {width: 57% !important;}
.w058per {width: 58% !important;}
.w059per {width: 59% !important;}
.w060per {width: 60% !important;}
.w061per {width: 61% !important;}
.w062per {width: 62% !important;}
.w063per {width: 63% !important;}
.w064per {width: 64% !important;}
.w065per {width: 65% !important;}
.w066per {width: 66% !important;}
.w067per {width: 67% !important;}
.w068per {width: 68% !important;}
.w069per {width: 69% !important;}
.w070per {width: 70% !important;}
.w071per {width: 71% !important;}
.w072per {width: 72% !important;}
.w073per {width: 73% !important;}
.w074per {width: 74% !important;}
.w075per {width: 75% !important;}
.w076per {width: 76% !important;}
.w077per {width: 77% !important;}
.w078per {width: 78% !important;}
.w079per {width: 79% !important;}
.w080per {width: 80% !important;}
.w081per {width: 81% !important;}
.w082per {width: 82% !important;}
.w083per {width: 83% !important;}
.w084per {width: 84% !important;}
.w085per {width: 85% !important;}
.w086per {width: 86% !important;}
.w087per {width: 87% !important;}
.w088per {width: 88% !important;}
.w089per {width: 89% !important;}
.w090per {width: 90% !important;}
.w091per {width: 91% !important;}
.w092per {width: 92% !important;}
.w093per {width: 93% !important;}
.w094per {width: 94% !important;}
.w095per {width: 95% !important;}
.w096per {width: 96% !important;}
.w097per {width: 97% !important;}
.w098per {width: 98% !important;}
.w099per {width: 99% !important;}
.w100per {width: 100% !important;}
/* !clearfix  ---------------------------------------------------------------- */
.clearfix {
    display: block;
    min-height: 1px;
    position: relative; /* DW */
}
.clearfix:after {
    clear: both;
    content:".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .clearfix {
    height: 1px;
    /*\*//*/
    height: auto;
    overflow: hidden;
    /**/
}
/* !placeholder  ---------------------------------------------------------------- */
:placeholder-shown,
::-webkit-input-placeholder,
:-moz-placeholder
{
    font-size:14px;
    color: #9b9b9b;
}
/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder{
    font-size:14px;
    color: #9b9b9b;
}
/* Firefox 18- */
:-moz-placeholder{
    font-size:14px;
    color: #9b9b9b; opacity: 1;
}
/* Firefox 19+ */
::-moz-placeholder{
    font-size:14px;
    color: #9b9b9b; opacity: 1;
}
/* IE 10+ */
:-ms-input-placeholder{
    font-size:14px;
    color: #9b9b9b;
}
/* !form  ---------------------------------------------------------------- */
button,input[type="checkbox"],input[type="radio"],label{
    cursor: pointer;
}
button{
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
}

input::-ms-clear{
    visibility: hidden;
}

input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration{
    -webkit-appearance: none;
}